// https://www.primefaces.org/designer/api/primevue/3.9.0
$primaryColor: #1cb0d3;
$primaryHoverColor: #475de5;
$buttonBg: $primaryColor;
$checkboxHeight: 1.5rem;
$checkboxWidth: 1.5rem;
$checkBoxBorderRadius: 8px;

// container
.container {
  max-width: 100%;

  @media screen and (min-width: 1200px) {
    max-width: 1050px;
  }

  @media screen and (min-width: 1600px) {
    max-width: 1500px;
  }
}

// Datatable

.p-datatable {

  .p-selection-column.p-cell-editing {
    visibility: hidden;
  }

  .p-datatable-thead > tr > th {
    color: #7e7e7e;
    font-weight: 400;
    font-size: 1.25rem;
    border-color: transparent;
  }

  .p-datatable-tbody > tr > td {
    padding: 1.55rem 1rem;
    border-color: transparent;
    position: relative;
    z-index: 2;
  }

  .p-datatable-tbody > tr {
    position: relative;
  }

  .p-datatable-tbody > tr:hover {
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      background: #f7fafc;
      border-radius: 10px;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

// Tag
.p-tag {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  padding: 0.4rem 1rem;
  border-radius: 10px;
  color: #624d9c;
  &.p-tag-secondary {
    color: #624d9c;
    background: #efe2fe;
  }
}

//button
.p-button {

  &.p-button-info {
    background-color: $primaryHoverColor;
    border-color: $primaryHoverColor;
    &:hover,
    &:focus {
      background-color: darken($primaryHoverColor, 10%);
      border-color: darken($primaryHoverColor, 10%);
    }
  }

  &.p-button-primary {
    background-color: $buttonBg;
    border-color: $buttonBg;

    &:hover,
    &:focus {
      background-color: darken($buttonBg, 10%);
      border-color: darken($buttonBg, 10%);
    }
  }

  &.p-button-lg {
    font-size: 1.125rem;
    padding: 0.85rem 1.35rem;
    height: 50px;
  }

  &.p-button-icon-only {
    width: 3rem;
    height: 3.125rem;
  }

  &.p-button-secondary.outlined {
    background-color: #f7fafc;
    border: 2px solid #d9d9d9;
    &:hover,
    &:focus {
      background-color: #1CB0D3;
      border-color: #1CB0D3;
      color: #fff;

      img {
        filter: brightness(0) invert(1);
      }
    }
  }
}
// input

label {
  line-height: 1.625rem;
  color: #7b7b7b;
}

.p-inputtext {
  border-color: #d9d9d9;
  color: #7e7e7e;
  &.p-inputtext-lg {
    padding: 0.8rem 0.9375rem;
  }
  &:enabled:focus {
    outline: 1px solid $primaryHoverColor;
  }

  &::placeholder {
    color: #B4B4B4;
  }
}

// dropdown

.p-dropdown {
  .p-inputtext {
    padding: 0.8rem 0.9375rem;
  }

  &.p-disabled {
    background-color: #F1F1F1;
  }
}

// Paginator
.p-paginator {
  justify-content: flex-start;
  margin-top: 3rem;

  .p-paginator-pages .p-paginator-page {
    min-width: 1.875rem;
    height: 1.688rem;
    border-radius: 10px;
    font-size: 0.938rem;
    color: #7E7E7E;
    margin: 0 0.25rem !important;

    &.p-highlight{
     color: #fff;
     background: #475DE5;
     border-color: #475DE5; 
    }
  }

  &-last,
  &-first{
    display: none;
  }
}

// Dialog

.p-dialog {
  .p-dialog-header {
    padding: 1rem 1.5rem;
  }

  .p-dialog-header-icons {
    margin-left: auto;
  }

  .p-dialog-content {
    padding: 0 2.5rem 2.5rem 2.5rem;
  }
}
