// https://www.primefaces.org/designer/api/primevue/3.9.0
$primaryColor: #1cb0d3;
$primaryHoverColor: #475de5;
$inputColor: #7e7e7e;
$borderColor: #d9d9d9;
$buttonBg: $primaryColor;
$checkboxHeight: 1.5rem;
$checkboxWidth: 1.5rem;
$checkBoxBorderRadius: 8px;