// Dialog

.p-dialog {
    .p-dialog-header {
      padding: 1rem 1.5rem;
    }
  
    .p-dialog-header-icons {
      margin-left: auto;
    }
  
    .p-dialog-content {
      padding: 0 2.5rem 2.5rem 2.5rem;
    }
  }