// https://www.primefaces.org/designer/api/primevue/3.9.0
$primaryColor: #1CB0D3;
$primaryHoverColor: #475DE5;
$buttonBg: $primaryColor;
$checkboxHeight: 1.5rem;
$checkboxWidth: 1.5rem;
$checkBoxBorderRadius: 8px;


// Datatable

.p-datatable {
    .p-datatable-thead > tr > th{
        color: #7E7E7E;
        font-weight: 400;
        font-size: 1.25rem;
        border-color: transparent;
    }

    .p-datatable-tbody > tr > td{
        padding: 1.2rem 1rem;
        border-color: transparent;
    }
}


// Tag
.p-tag {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 0.4rem 1rem;
    border-radius: 10px;
    color: #624D9C;
    &.p-tag-secondary {
        color: #624D9C;
        background: #EFE2FE;
    }
}

//button
.p-button {
    &.p-button-primary{
        background-color: $buttonBg;
        border-color:  $buttonBg;
    }

    &.p-button-lg {
        font-size: 1.125rem;
        padding: 0.85rem 1.35rem;
    }

    &.p-button-icon-only {
        width: 3rem;
        height: 3.125rem;
        border-width: 2px;
    }

    &.p-button-icon-only.p-button-secondary {
        background-color: transparent;
    }


}

// Checkbox

.p-checkbox {
    height: $checkboxHeight;
    width: $checkboxWidth;
    & &-box {
        height: $checkboxHeight;
        width: $checkboxWidth;
        border-radius: $checkBoxBorderRadius;
    }

    &.p-highlight .p-checkbox-box{
        border-color: $primaryHoverColor;
        background: $primaryHoverColor;
    }
}